.table th {
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.table .empty-cell {
  font-style: italic;
  color: darkgray;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.table th:after {
  float: right;
  color: hsl(20, 0%, 70%);
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.table th.sort-ascending:after  { content: '\f0de'; }
.table th.sort-descending:after { content: '\f0dd'; }
.table th.sort-none:after  { content: '\f0dc'; }

/* Uncomment to use glyphicons
.table th:after {
  float: right;
  color: hsl(20, 0%, 70%);
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.table th.sort-ascending:after  { content: '\e113'; }
.table th.sort-descending:after { content: '\e114'; }
.table th.sort-none:after  { content: '\e150'; }
*/
