th {
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
th > i:before {
  float: right;
  margin-left: 5px;
  color: hsl(20, 0%, 70%);

  /* glyphicons stuff, imo font-awesome has better icons for this */
  /* &:extend(.glyphicon) */
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
th.sort-asc > i:before {
  /* &:extend(.glyphicon-chevron-up) */
  content: '\e113';
}
th.sort-desc > i:before {
  /* &:extend(.glyphicon-chevron-down) */
  content: '\e114';
}
th.sort-off > i:before {
  /* &:extend(.glyphicon-sort) */
  content: '\e150';
}
td.empty-cell {
  font-style: italic;
  color: darkgray;
  cursor: default;
  -webkit-user-select: none;
          user-select: none;
}
.select-control {
  margin: 20px 0;
}
