.dropdown {
  position: relative;
}
.dropdown button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  &:active {
    background-color: #eee;
  }
}
.dropdown-list {
  list-style: none;
  position: absolute;
  background: rgba(255, 255, 255, .96);
  width: 200px;
  border-radius: 6px;
  padding: 5px 1px;
  box-shadow: 0px 0px 8px rgba(0,0,0,.5);
  z-index: 1000;
}
.dropdown-item {
  border-radius: 3px;
  padding: 2px 25px;
  cursor: pointer;

  span {
    -webkit-user-select: none;
            user-select: none;
  }

  &:hover {
    color: #fff;
    background-color: rgb(0, 105, 217);

    .dropdown-itemcheck {
      color: #fff;
    }
  }
}
.dropdown-itemcheck {
  float: right;
  font-weight: bold;
  color: rgb(100, 100, 101);

  &:after {
    content: '✓';
  }
}
.fade-leave {
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.fade-leave.fade-leave-active {
  opacity: .01;
}
