.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select; // IE10+
          user-select: @select;
}

.table {
  th {
    cursor: pointer;
    text-align: center;
    .user-select(none);
  }

  .sort-icon {
    float: right;
    color: hsl(20, 0%, 70%);
  }

  .empty-cell {
    font-style: italic;
    color: darkgray;
    cursor: default;
    .user-select(none);
  }
}
input[type="search"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 10px;
}
